body {
	background-color: grey;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.title{
	font-size: 72px;
	color: green;
}

.subtitle{
	font-size: 48px;
	color: blue;
}